



.btn-wrap{
	width:90vw;
	padding:2%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.btn-wrap > a {
	text-decoration:none;
}

.btn-wrap > a > button {
	width:80%;
	margin:0 auto;
}



@media only screen and (max-width:760px){

	.btn-wrap{
		margin-top:10%;
	}
}
