
.page{
	flex-wrap:nowrap;
}

.wrapper{
	
	padding:5%;
	margin-left:5%;

	flex: 1 5 50%;

	height:80%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}


.img {
	height:70vh;
	flex: 3 0 50%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}


.product-title{
	margin-bottom:5%;
}

.bottom-wrap{

	width:80%;
	margin-top:10%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-end;
}



@media only screen and (max-width:760px){

	.page{
		flex-wrap:wrap;
	}

	.bottom-wrap{
		flex-wrap:wrap;
	}
	.bottom-wrap button{
		margin-top:10%;
	}
}
